
.company{

  &-section{
    padding: 100px 0;
  }

  ul[class*="box"]{
    margin: 50px auto;
    max-width: 1000px;

    &.mb-0{margin-bottom: 0;}
  }

  &-team{
    padding-top: 5px;
    padding-bottom: 15px;

    &-list{
      max-width: 1000px;
      margin: 0 auto;
      @include flex-flexbox();
      @include flex-flex-wrap(wrap);

      &-item{
        margin: 17px 0;
        max-width: calc(100% / 3);
        @include flex-flex(0 0 calc(100% / 3));
      }
    }

    .companyteam{
      text-align: center;

      > *{
        &:hover{
          .companyteamphoto > img{
            @include scale(1.2);
          }
        }
      }

      &photo{
        width: 186px;
        height: 186px;
        margin: 0 auto 25px;
        overflow: hidden;
        @include border-radius(50%);

        img{
          display: block;
          @include transition(transform, 0.3s, ease-in-out);
        }
      }

      &info{
        h3{
          color: $global-clr-text-dark-gray;
          font-size: 25px;
          font-weight: normal;
          line-height: 1.12;
          letter-spacing: -0.75px;
        }
        h6{
          color: $global-clr-red;
          font-size: 20px;
          font-weight: normal;
          line-height: 1;
          letter-spacing: -0.6px;
          margin-top: 4px;
        }
      }

      &social{
        margin-top: 8px;
        @include flex-flexbox();
        @include flex-justify-content(center);

        li{
          margin: 0 3px;

          &:first-child{margin-left: 0;}
          &:last-child{margin-right: 0;}
        }
      }
    }

  }

  &-listbox{

    .companylistbox{
      .owl{
        &-stage{
          &-outer{
            @include ReSassMinWidthResponsive(1360){
              overflow: visible !important;
            }
          }
        }
      }
    }

  }

}