
.home{

  &-bg{
    position: relative;

    &::before{
      content: "";
      background-image: url(#{$global-img-path-section}/section_light_background_homepage_technology.jpg);
      background-repeat: no-repeat;
      background-position: top center;
      width: 100%;
      height: calc(100% + 330px);
      position: absolute;
      top: -330px;
      z-index: 0;
    }
  }

  &-technology{
    padding: 100px 0 95px;
    position: relative;

    .technology-box{
      padding: 30px 0 0;
      max-width: 1000px;
      margin: 0 auto;
    }

  }

  &-instruments{
    padding: 100px 0 75px;

    &.homept{
      padding-top: 0;
    }

    .instruments{
      &-tab{
        padding: 30px 0 0;
      }
    }

  }


}