
.home{

  &-bg{}

  &-technology{
    padding: 50px 0 100px;
    position: relative;

    @include ReSassMaxWidthResponsive(1366){
      padding: 80px 0 85px;
    }

    .technology-box{
      padding: 30px 0 0;
      margin: 0 auto;
    }

  }

  &-boxsinstruments{
    padding: 50px 0;

    &.homept{
      padding: 0;

      .boxsinstruments{
        margin-bottom: 50px;
        margin-top: -150px;
        position: relative;
        z-index: 2;
      }
    }

    .boxsinstruments{

      &-list{
        @include flex-flexbox();
        @include flex-justify-content(center);
        margin-left: -30px;
        margin-right: -30px;

        li{
          @include flex-flex-basis(0);
          @include flex-flex-grow(1);
          max-width: 100%;
          //background-color: #F3F6F9;
          background-color: $global-clr-white;
          padding: 30px;
          margin-left: 15px;
          margin-right: 15px;
          position: relative;
          @include box-shadow(0 0 20px 5px transparentize($global-clr-dark-black, 0.95));

          &::before{
            content: "";
            background-color: $global-clr-white;
            width: 1px;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            display: none;
          }

          &:first-child::before{
            display: none;
          }

          &:hover{
            div[class*="icons"]{
              top: -10px;
            }
            *[class*="title"]{
              color: $global-clr-soft-blue;
            }
          }
        }
      }


      &-icons{
        @include flex-flexbox();
        width: 144px;
        height: 120px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzUuNDE3IiBoZWlnaHQ9IjE1MCIgdmlld0JveD0iMCAwIDEzNS40MTcgMTUwIj4NCiAgPHBhdGggaWQ9ImhleGFnb254IiBkPSJNMTQ4LjE0Nyw4OC4xNzQsMTE3LjU2OCwzNC41YTEzLjgxMiwxMy44MTIsMCwwLDAtMTEuOTktNy4wMTdINDQuNDIyQTEzLjgxNSwxMy44MTUsMCwwLDAsMzIuNDMzLDM0LjVMMS44NTQsODguMTc0YTE0LjIsMTQuMiwwLDAsMCwwLDE0LjAzM2wzMC41NzcsNTMuNjc4YTEzLjgxNSwxMy44MTUsMCwwLDAsMTEuOTksNy4wMTdoNjEuMTU2YTEzLjgxMSwxMy44MTEsMCwwLDAsMTEuOTktNy4wMTdsMzAuNTc5LTUzLjY3OGExNC4yMDUsMTQuMjA1LDAsMCwwLDAtMTQuMDMzWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI3LjQ4NSAxNTApIHJvdGF0ZSgtOTApIiBmaWxsPSIjMTE5N2QzIi8+DQo8L3N2Zz4NCg==");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 auto 30px;
        position: relative;
        top: 0;
        @include transition-multiple(top 0.3s ease-in-out);

        i[class*="icons"]{
          display: block;
          margin: auto;
          background-position-y: 0;
        }
      }

      &-content{
        text-align: center;

        &-title{
          color: $global-clr-soft-blue;
          font-size: 26px;
          font-weight: 400;
          line-height: 1.2;
          letter-spacing: -0.9px;
          @include transition-multiple(color 0.3s ease-in-out);
        }
        &-desc{
          color: $global-clr-text-light-gray;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.4;
          letter-spacing: -.25px;
          margin-top: 10px;
        }

      }

      &-linkmore{}

    }
  }

  &-tabsinstruments{
    padding: 50px 0 40px;

    &.homept{
      //padding-top: 0;
    }

    .instruments{
      &-tab{
        padding: 30px 0 0;

        div[class*="horizantaltable"]{
          table[class*="horizantal"]{
            tbody tr td{
              padding-top: 5px;
              padding-bottom: 5px;

              @include ReSassMaxWidthResponsive(1366){
                padding-top: 4px;
                padding-bottom: 4px;
              }
            }
          }
        }
      }
    }

  }


}