
.platforms{

  &-section{
    padding: 100px 0;
  }

  &-head{

    &-mt5{
      position: relative;
      margin-bottom: 40px;

      &-img{
        width: calc(100% + 10px);
        text-align: center;
        position: relative;
        left: -5px;
      }
      &-text{
        width: 50%;
        position: absolute;
        top: 0;
        padding: 10px 40px 10px 0;
      }
    }

    &-etp{
      position: relative;

      &-img{
        width: calc(100% + 90px);
        text-align: center;
        margin: 60px 0;
        position: relative;
        left: -45px;
      }

      &-text{}
    }

  }

}