.btn{
  @include border-radius(25px);

  &-lg{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: .55rem;
    padding-bottom: .55rem;

    @include ReSassMaxWidthResponsive(1366){
      height: 48px;
      padding-top: .46rem;
      padding-bottom: .46rem;
    }
  }

  &-gradient{

    &-red{
      border: none;
      @include background-gradient($global-grdint-red01, $global-grdint-red02);
    }

    &-bluesoft{
      border: none;
      //@include background-gradient($global-grdint-softblue01, $global-grdint-softblue02);
      background-color: $global-grdint-softblue01;
      background-image: linear-gradient(54.4deg, #31B1E7 10.45%, #268CF5 50%, #2F58F7 89.55%);
    }
  }
}

.btnwidth110{min-width: 110px !important;}
.btnwidth220{min-width: 220px !important;}
.btnwidth100100{min-width: 100% !important;}
