// Global Variables
@import "../../plugin/option/variables";

// Global Mixib
@import "../../plugin/option/mixin";


.icons{
  &-svg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    display: inline-block;
  }

  &-sprite{
    background-repeat: no-repeat;
    display: inline-block;

    &.sprite-red-instruments-45{
      background-image: url(#{$global-img-path-icons}/icons_spite_red_instruments_45.svg);
      background-position: 0 -45px;
      width: 45px;
      height: 45px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-forex{
        background-position: 0 -45px;
        &:hover{
          background-position: 0 0;
        }
      }
      &.icons-indicies{
        background-position: -50px -45px;
        &:hover{
          background-position: -50px 0;
        }
      }
      &.icons-commodities{
        background-position: -100px -45px;
        &:hover{
          background-position: -100px 0;
        }
      }
      &.icons-crypto{
        background-position: -150px -45px;
        &:hover{
          background-position: -150px 0;
        }
      }
    }

    &.sprite-technology-200{
      background-image: url(#{$global-img-path-icons}/icons_spite_technology_200.svg);
      background-position: 0 -100px;
      width: 200px;
      height: 100px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-3000{
        background-position: 0 -100px;
        &:hover{
          background-position: 0 0;
        }
      }
      &.icons-speed{
        background-position: -200px -100px;
        &:hover{
          background-position: -200px 0;
        }
      }
      &.icons-price{
        background-position: -400px -100px;
        &:hover{
          background-position: -400px 0;
        }
      }
      &.icons-norequotes{
        background-position: -600px -100px;
        &:hover{
          background-position: -600px 0;
        }
      }
      &.icons-speed2{
        background-position: -800px -100px;
        &:hover{
          background-position: -800px 0;
        }
      }
      &.icons-deep{
        background-position: -1000px -100px;
        &:hover{
          background-position: -1000px 0;
        }
      }
    }

    &.sprite-ourcompany-200{
      background-image: url(#{$global-img-path-icons}/icons_spite_ourcompany_200.svg);
      background-position: 0 -100px;
      width: 200px;
      height: 100px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-trusted{
        background-position: 0 -100px;
        &:hover{
          background-position: 0 0;
        }
      }
      &.icons-professional{
        background-position: -200px -100px;
        &:hover{
          background-position: -200px 0;
        }
      }
      &.icons-innovative{
        background-position: -400px -100px;
        &:hover{
          background-position: -400px 0;
        }
      }
    }

    &.sprite-liquidityproviders-180{
      background-image: url(#{$global-img-path-icons}/icons_spite_liquidityproviders_180.svg);
      background-position: 0 -70px;
      width: 180px;
      height: 70px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-logo01{
        background-position: 0 -70px;
        &:hover{
          background-position: 0 0;
        }
      }
      &.icons-logo02{
        background-position: -180px -70px;
        &:hover{
          background-position: -180px 0;
        }
      }
      &.icons-logo03{
        background-position: -360px -70px;
        &:hover{
          background-position: -360px 0;
        }
      }
    }

    &.sprite-footer-contact-60{
      background-image: url(#{$global-img-path-icons}/icons_spite_footer_contact_60.svg);
      background-position: 0 -60px;
      width: 60px;
      height: 60px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-mail{
        background-position: 0 -60px;
        &:hover{
          background-position: 0 0;
        }
      }
      &.icons-phone{
        background-position: -60px -60px;
        &:hover{
          background-position: -60px 0;
        }
      }
      &.icons-map{
        background-position: -120px -60px;
        &:hover{
          background-position: -120px 0;
        }
      }
    }

    &.sprite-headtitle-100{
      background-image: url(#{$global-img-path-icons}/icons_spite_headtitle_100.svg);
      background-position: 0 0;
      width: 100px;
      height: 80px;

      &.icons-deal{
        background-position: 0 0;
      }
      &.icons-thankyou{
        background-position: -100px 0;
      }
      &.icons-forex{
        background-position: -200px 0;
      }
      &.icons-indicies{
        background-position: -300px 0;
      }
      &.icons-commodities{
        background-position: -400px 0;
      }
      &.icons-crypto{
        background-position: -500px 0;
      }
      &.icons-mt5{
        background-position: -600px 0;
      }
      &.icons-etp{
        background-position: -700px 0;
      }
      &.icons-aggregation{
        background-position: -800px 0;
      }
      &.icons-risk{
        background-position: -900px 0;
      }
      &.icons-company{
        background-position: -1000px 0;
      }
      &.icons-contact{
        background-position: -1100px 0;
      }
    }

    &.sprite-companyteam-social30{
      background-image: url(#{$global-img-path-icons}/icons_spite_companyteam_social_30.svg);
      background-position: 0 -30px;
      width: 30px;
      height: 30px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-linkedin{
        background-position: 0 -30px;
        &:hover{
          background-position: 0 0;
        }
      }
    }

    &.sprite-red-contactus-50{
      background-image: url(#{$global-img-path-icons}/icons_spite_red_contactus_50.svg);
      background-position: 0 -50px;
      width: 50px;
      height: 50px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-phone{
        background-position: 0 -50px;
        &:hover{
          background-position: 0 0;
        }
      }
      &.icons-mail{
        background-position: -50px -50px;
        &:hover{
          background-position: -50px 0;
        }
      }
      &.icons-map{
        background-position: -100px -50px;
        &:hover{
          background-position: -100px 0;
        }
      }
    }

    &.sprite-form-iconset-24{
      background-image: url(#{$global-img-path-icons}/icons_spite_form_iconset_24.svg);
      background-position: 0 0;
      width: 24px;
      height: 24px;
      @include transition(background, 0.15s, ease-in-out);

      &.icons-edit{
        background-position: 0 0;
      }
      &.icons-check{
        background-position: -24px 0;
      }
      &.icons-error{
        background-position: -48px 0;
      }
    }

  }

}

.site{
  &icons{}
}