.sitetabs{

  .nav{
    &-center{
      @include flex-justify-content(center);
    }
    &-btn{
      .nav{

        &-item{
          margin: 0 5px;
        }

        &-link{
          color: $global-clr-text-dark-gray;
          font-size: 20px;
          font-weight: normal;
          line-height: 1.2;
          letter-spacing: -0.6px;
          padding-left: 2rem;
          padding-right: 2rem;
          border: none;
          @include border-radius(40px);
          @include transition-multiple(background-color 0.1s ease-in-out);

          &:hover{
            background-color: lighten($global-border-light-gray, 20%);
          }

          &.active{
            color: $global-clr-white;
            @include background-gradient($global-grdint-red01, $global-grdint-red02);
          }
        }
      }
    }
  }

}