.sitetable{
  color: $global-clr-text-dark-gray;
  margin: 0;

  thead tr th, tbody tr td{
    border-color: $global-border-light-gray;
    vertical-align: middle;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    padding: 0 5px;

    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }

  thead{
    tr{
      th{
        font-size: 17px;
        border-top-width: 0;
        border-bottom-width: 1px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }

  tbody{
    tr{
      td{
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 1;

        sub, sup{font-size: 65%;}
        sup{top: -.30em;}
      }
    }
  }

  &.horizantal{
    table-layout : fixed;
    min-height: 300px;

    thead tr th, tbody tr td{
      border-color: transparent;
    }

    thead{
      tr{
        position: relative;
        th{
          position: relative;
          padding: 0 !important;

          &:first-child{
            span.thbox{
              &::after{
                display: none;
              }
            }
          }

          span.thbox{
            color: $global-border-light-gray;
            font-size: 30px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.9px;
            text-align: right;
            white-space:nowrap;
            padding: 0 !important;
            position: absolute;
            min-width: 300px;
            height: 18px;
            top: calc(300px - 20px);
            left: 0;
            @include transition-multiple(width 0s ease-in-out, top 0.3s ease-in-out);
            @include transform-multiple(rotate(-90deg) translateX(3px));
            @include transform-origin(8px);

            @include ReSassMaxWidthResponsive(1366){
              font-size: 28px;
            }

            &::before,
            &::after{
              content: "";
              background-color: $global-border-light-gray;
              position: absolute;
              left: 0;
              top: 0;
            }
            &::before{
              width: 100%;
              height: 1px;
            }
            &::after{
              width: 1px;
              height: 10px;
            }

          }

          span.thtxt{
            background-color: $global-clr-white;
            position: relative;
            top: -3px;
            padding: 0 10px 0 2px;
          }

        }
      }
    }

    tbody{
      tr{

        &:first-child{
          td{padding-top: 0 !important;}
        }

        td{
          font-size: 18px;
          font-weight: normal;
          line-height: 1.44;
          letter-spacing: -0.54px;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 30px;
          padding-right: 22px;
          vertical-align: top;

          @include ReSassMaxWidthResponsive(1366){
            font-size: 17px;
          }

          &.chartarea{
            text-align: left;
            padding-left: 40px;
            padding-right: 22px;

            img{width: 100%;}
          }

          small.tdsubtext{
            display: block;
            font-size: 11px;
            font-weight: normal;
            line-height: 1;
            letter-spacing: -0.33px;
            text-align: left;
          }
        }
      }
    }

  }

}