
.dfn{
  $dfnnavclassname: &;

  &-nav{
    background-color: transparent;
  }

  &-menu{
    color: $global-clr-white;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.51px;

    @include ReSassMaxWidthResponsive(992){
      background-color: $global-sitebg-darkblack01;
      display: block !important;
      overflow-x: hidden;
    }

    &-megadropdown{
      background-color: $global-grdint-darkblue02;
      border-top-color: $global-clr-soft-blue;
      border-bottom-color: $global-clr-soft-blue;
    }

    &-dropdownmenu{
      background-color: transparentize($global-sitebg-darkblack01 ,0.2);

      &.show{
        left: 20px !important;

        @include ReSassMaxWidthResponsive(1400){
          left: 10px !important;
        }
        @include ReSassMaxWidthResponsive(992){
          left: 0 !important;
        }
      }

      &.dropdown-menu.show[aria-labelledby="InstituionalDropdownMenu"]{
        height: 148px !important;
      }
      &.dropdown-menu.show[aria-labelledby="PlatformsDropdownMenu"]{
        height: 74px !important;
      }

      ul.dropdownsubmenu{
        background-color: transparentize($global-clr-white ,0.15);

        li.submainmenu{
          @include transition(background, 0.15s, ease-in-out);

          &:hover{
            background-color: $global-clr-red;

            a{
              &::before{
                background-color: $global-clr-text-dark-gray;
              }
              &::after{
                border-top-color: $global-clr-red;
                border-right-color: $global-clr-red;
              }
            }
          }

          a{
            color: $global-clr-text-dark-gray;
            font-weight: normal;
            border-bottom: 1px solid transparentize($global-clr-black, 0.8);

            &::before{
              background-color: $global-clr-red;
            }
            &::after{
              border-top-color: $global-clr-white;
              border-right-color: $global-clr-white;
            }

            &:hover{
              color: $global-clr-white;
            }
          }

          &:last-child{
            a{border-bottom: none;}
          }
        }
      }
    }

    &-list{
      &-item{
        > a{
          color: transparentize($global-clr-white, 0.5);
          padding: 11px 0;
          margin: auto 20px;

          &::after{
            background-color: $global-clr-red;
          }
        }

        &:hover > a,
        &.active > a{
          color: $global-clr-white;
        }
      }
    }

  }

  &-headnav{
    #{$dfnnavclassname}-menu{

      &-list{
        min-height: 36px;

        @include ReSassMaxWidthResponsive(992){
          min-height: auto;
        }

        &-item{
          height: 47px !important;
          @include transition-multiple(height 0.3s ease-in-out);

          > a{
            @include transition-multiple(margin 0.3s ease-in-out, padding 0.3s ease-in-out);
          }

          &.show > a[data-toggle^="dropdown"]{
            &::before{
              border-bottom-color: $global-clr-red ;
            }
          }
        }

        &-logo{
          top: -2px;

          &::before{
            content: "";
            background-color: $global-sitebg-darkblack01;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
          }

          > a{
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            z-index: 1;
            text-align: center;
            padding-top: 0;
            width: 200px;
            height: 52px;
            @include transition-multiple(width 0.3s ease-in-out, height 0.3s ease-in-out, padding 0.3s ease-in-out);

            &::before,
            &::after{
              content: "";
              background-color: $global-clr-red;
              width: 2px;
              height: 35px;
              position: absolute;
              top: 0;
              z-index: 0;
              @include transition-multiple(height 0.2s ease-in-out);
            }
            &::before{
              left: 0;
            }
            &::after{
              right: 0;
            }

            > img{
              @include transition-multiple(transform 0.3s ease-in-out);
            }
          }
        }
      }
    }
  }

  &-footnav{
    #{$dfnnavclassname}-menu{
      &-list{
        padding-bottom: 15px;
        position: relative;

        @include ReSassMaxWidthResponsive(1366){
          padding-bottom: 10px;
        }

        &::before{
          content: "";
          background-color: lighten($global-sitebg-darkblack01, 10%);
          width: calc(100% - 40px);
          height: 1px;
          position: absolute;
          left: 20px;
          bottom: 0;
        }

        &-item{

          &:first-child{
            &::before{
              display: none !important;
            }
          }

          &::before{
            content: "";
            background-color: $global-clr-red;
            width: 4px;
            height: 4px;
            position: absolute;
            left: 0;
            top: calc(50% - 3px);
            @include translateX(-50%);
            border-radius: 50%;
          }

          &.show > a[data-toggle^="dropdown"]{
            &::before{
              border-bottom-color: $global-clr-red ;
            }
          }
        }
      }
    }
  }


  &-mobilemenu{

    &-mask{
      background-color: rgba(0,0,0,0.6);
    }

    &-header{

      @include ReSassMaxWidthResponsive(992){
        @include flex-flexbox-important();
        @include flex-align-items(center);
        @include flex-justify-content(center);

        &::before{
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }
      }
    }

    &-btn{
      @include ReSassMaxWidthResponsive(992){

        .btntext{
          small{
            font-size: 14px;
            line-height: 14px;
          }
        }
        .btnicon{
          span,
          span::before,
          span::after{
            background-color: $global-clr-white;
          }
        }

      }
    }
  }
}

.header{
  &.navscroll{

    .dfn-mobilemenu-header{
      @include ReSassMaxWidthResponsive(992){
        &::before{
          @include scaleX(0);
        }
      }
    }
  }
}