
.dfn{

  &-nav{
    background-color: transparent;
  }
  &-menu{
    color: $global-clr-white;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.51px;

    @include ReSassMaxWidthResponsive(992){
      background-color: $global-sitebg-darkblack01;
      display: block !important;
      overflow-x: hidden;
    }

    &-megadropdown{
      background-color: $global-grdint-darkblue02;
      border-top-color: $global-clr-soft-blue;
      border-bottom-color: $global-clr-soft-blue;
    }

    &-dropdownmenu{
      background-color: transparentize($global-sitebg-darkblack01 ,0.2);

      &.show{
        left: 20px !important;

        @include ReSassMaxWidthResponsive(1400){
          left: 10px !important;
        }
        @include ReSassMaxWidthResponsive(992){
          left: 0 !important;
        }
      }

      &.dropdown-menu.show[aria-labelledby="InstituionalDropdownMenu"]{
        height: 150px !important;
      }
      &.dropdown-menu.show[aria-labelledby="PlatformsDropdownMenu"]{
        height: 76px !important;
      }

      ul.dropdownsubmenu{
        background-color: transparentize($global-clr-white ,0.15);

        li.submainmenu{
          @include transition(background, 0.15s, ease-in-out);

          &:hover{
            background-color: $global-clr-red;
          }

          a{
            color: $global-clr-text-dark-gray;
            font-weight: normal;
            border-bottom: 1px solid transparentize($global-clr-black, 0.8);

            &:hover{
              color: $global-clr-white;
            }
          }

          &:last-child{
            a{border-bottom: none;}
          }
        }
      }
    }

    &-list{
      min-height: 36px;

      @include ReSassMaxWidthResponsive(992){
        min-height: auto;
      }

      &-item{
        height: 47px !important;
        @include transition-multiple(height 0.3s ease-in-out);

        > a{
          color: transparentize($global-clr-white, 0.5);
          padding: 11px 0;
          margin: auto 20px;
          @include transition-multiple(padding 0.3s ease-in-out);

          &::after{
            background-color: $global-clr-red;
          }
        }

        &:hover > a,
        &.active > a{
          color: $global-clr-white;
        }

        &.show > a[data-toggle^="dropdown"]{
          &::before{
            border-bottom-color: $global-clr-red;
          }
        }
      }

      &-logo{
        top: -2px;

        &::before{
          content: "";
          background-color: $global-sitebg-darkblack01;
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
        }

        > a{
          padding-left: 15px;
          padding-right: 15px;
          position: relative;
          z-index: 1;

          &::before,
          &::after{
            content: "";
            background-color: $global-clr-red;
            width: 2px;
            height: 35px;
            position: absolute;
            top: 0;
            z-index: 0;
            @include transition-multiple(height 0.2s ease-in-out);
          }
          &::before{
            left: 0;
          }
          &::after{
            right: 0;
          }

          > img{
            @include transition-multiple(transform 0.3s ease-in-out);
          }
        }
      }
    }
  }

  &-mobilemenu{

    &-mask{
      //background-color: transparentize($global-clr-dark-blue, 0.5);
      background-color: rgba(0,0,0,0.6);
    }

    &-header{

      @include ReSassMaxWidthResponsive(992){
        display: flex !important;
        justify-content: center;
        align-items: center;

        &::before{
          background-color: transparentize($global-clr-soft-gray, 0.7);
        }

        .header-navigation-logo{
          margin: 0;

          &-symbol {
            width: 30px;
            height: 30px;
            margin-right: 4px;
          }
          &-icrypex {
            font-size: 25px;
          }
          &-cryptoexchange {
            font-size: 11px;
          }
        }
      }
    }

    &-btn{
      @include ReSassMaxWidthResponsive(992){

        .btntext{
          small{
            font-size: 14px;
            line-height: 14px;
          }
        }
        .btnicon{
          span,
          span::before,
          span::after{
            background-color: $global-clr-white;
          }
        }

      }
    }
  }
}

.header{
  &.navscroll{

    .dfn-mobilemenu-header{
      @include ReSassMaxWidthResponsive(992){
        &::before{
          @include scaleX(0);
        }
      }
    }
  }
}