
.section-item{

  &-btn{
    padding: 40px 0 0;
    position: relative;
    @include flex-flexbox();
    @include flex-justify-content(center);
  }

  &.foot{
    &-item{
      padding: 90px 0;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid $global-clr-white;
        top: 0;
        left: 50%;
        @include translateX(-50%);
      }

      &-bggray{
        background-color: $global-clr-light-gray;

        &::before{
          border-top-color: $global-clr-white;
        }

        .interaction-section-btn{
          &::after{
            background-color: $global-clr-light-gray !important;
          }
        }
      }
    }
  }

  &-formarea{
    max-width: 900px;
    margin: 10px auto 0;
    position: relative;
    z-index: 1;
  }

  .technology{
    &-box{

      .owl{
        &-stage{
          &-outer{
            @include ReSassMinWidthResponsive(1360){
              overflow: visible !important;
            }
          }
        }
      }

      &-item{
        text-align: center;

        &:hover{
          i[class*="icons"]{
            background-position-y: 0;
          }
        }
      }

      &-icons{
        margin-bottom: 25px;

        @include ReSassMaxWidthResponsive(1366){
          margin-bottom: 15px;
        }

        *[class*="icons"]{
          display: block;
          margin: 0 auto;
        }
      }

      &-title{
        color: $global-clr-soft-blue;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.07;
        letter-spacing: -0.9px;

        @include ReSassMaxWidthResponsive(1366){
          font-size: 28px;
        }
      }

      &-desc{
        font-size: 18px;
        font-weight: normal;
        line-height: 1.11;
        letter-spacing: -0.54px;
        margin-top: 10px;

        @include ReSassMaxWidthResponsive(1366){
          font-size: 17px;
        }
      }

      &-btn{
        padding: 40px 0 0;
        position: relative;
        @include flex-flexbox();
        @include flex-justify-content(center);
      }
    }
  }

  .ourcompany{
    &-box{

      .owl{
        &-stage{
          &-outer{
            @include ReSassMinWidthResponsive(1360){
              overflow: visible !important;
            }
          }
        }
      }

      &-item{
        text-align: center;

        &:hover{
          i[class*="icons"]{
            background-position-y: 0;
          }
        }
      }

      &-icons{
        margin-bottom: 25px;

        *[class*="icons"]{
          display: block;
          margin: 0 auto;
        }
      }

      &-title{
        color: $global-clr-soft-blue;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.07;
        letter-spacing: -0.9px;
      }

      &-desc{
        font-size: 18px;
        font-weight: normal;
        line-height: 1.11;
        letter-spacing: -0.54px;
        margin-top: 10px;
      }
    }
  }

  .instruments{
    &-box{

      .owl{
        &-stage{
          &-outer{
            @include ReSassMinWidthResponsive(1360){
              overflow: visible !important;
            }
          }
        }
      }

      &-item{
        text-align: center;

        &:hover{
          div[class*="icons"]{
            background-color: $global-clr-soft-blue;
          }
          i[class*="icons"]{
            background-position-y: 0;
          }
        }

        &-btn{
          padding: 30px 0 0;
          position: relative;
          @include flex-flexbox();
          @include flex-justify-content(center);
        }
      }

      &-icons{
        background-color: darken($global-clr-light-gray, 6.5%);
        width: 90px;
        height: 90px;
        margin: 0 auto 25px;
        @include flex-flexbox();
        @include flex-align-items(center);
        @include flex-justify-content(center);
        @include border-radius(3px);
        @include transition-multiple(background 0.15s ease-in-out);

        *[class*="icons"]{
          display: block;
          margin: 0 auto;
        }
      }

      &-title{
        color: $global-clr-soft-blue;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.07;
        letter-spacing: -0.9px;
      }

      &-desc{
        font-size: 18px;
        font-weight: normal;
        line-height: 1.11;
        letter-spacing: -0.54px;
        margin-top: 5px;
      }
    }
  }

  .contactus{
    &-box{

      .owl{
        &-stage{
          &-outer{
            @include ReSassMinWidthResponsive(1360){
              overflow: visible !important;
            }
          }
        }
      }

      &-item{
        text-align: center;

        &:hover{
          div[class*="icons"]{
            background-color: $global-clr-soft-blue;
          }
          i[class*="icons"]{
            background-position-y: 0;
          }
        }
      }

      &-icons{
        background-color: darken($global-clr-light-gray, 6.5%);
        width: 90px;
        height: 90px;
        margin: 0 auto 25px;
        @include flex-flexbox();
        @include flex-align-items(center);
        @include flex-justify-content(center);
        @include border-radius(3px);
        @include transition-multiple(background 0.15s ease-in-out);

        *[class*="icons"]{
          display: block;
          margin: 0 auto;
        }
      }

      &-title{
        color: $global-clr-text-dark-gray;
        font-size: 20px;
        font-weight: normal;
        line-height: 1;
        letter-spacing: -0.6px;
      }

      &-desc{
        color: $global-clr-soft-blue;
        font-size: 26px;
        font-weight: 300;
        line-height: 1.07;
        letter-spacing: -0.9px;
        margin-top: 5px;
      }
    }
  }

}