
.foot{
  &-platforms{
    background-color: $global-sitebg-darkblack01;

    &-imgbox{
      margin-bottom: 20px;
      position: relative;

      &::before{
        content: "";
        background-color: $global-clr-white;
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        top: 0;
      }

      &-img{
        background-color: transparent;
        background-image: url(#{$global-img-path-section}/section_dark_footer_top_partner_laptop.png);
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
        height: 575px;
        display: block;
        position: relative;
      }

      &-comingsoon{
        width: 110px;
        height: 110px;
        background-color: transparentize($global-clr-black, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        font-weight: 300;
        line-height: 0.85;
        letter-spacing: -0.81px;
        text-align: center;
        padding-top: 5px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        @include border-radius(50%);
        @include translate(calc(-50% + 320px), 0)
      }
    }

    &-btn{
      display: flex;
      justify-content: center;
      padding: 35px 0 0;
      position: relative;
    }
  }

  &-partners{
    background-color: $global-sitebg-darkblack01;
    background-image: url(#{$global-img-path-section}/section_dark_footer_top_partner_background.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 320px;
    padding-bottom: 100px;
    margin-top: -2px;

    @include ReSassMinWidthResponsive(1920){
      background-position: top center;
      background-size: cover;
    }

    .ourpartners{

      &-box{
        margin-top: 25px;

        .owl{
          &-stage{
            &-outer{
              @include ReSassMinWidthResponsive(1400){
                overflow: visible !important;
              }
            }
          }
        }

        &-item{
          padding: 3px;
          border: 2px solid #303134;
          @include border-radius(10px);
          @include transition-multiple(border 0.15s ease-in-out);

          &:hover{
            border-color: transparentize($global-clr-white, 0.80);

            i[class*="icons"]{background-position-y: 0;}

            > div{background-color: transparentize($global-clr-white, 0.93);}

            a{color: transparentize($global-clr-white, 0.4);}
          }
        }

        &-blur{
          background-color: transparentize($global-clr-white, 0.95);
          text-align: center;
          padding: 45px 25px 40px;
          @include border-radius(8px);
          @include backdrop-filter-multiple(blur(45px));
          @include transition-multiple(background 0.15s ease-in-out);
        }

        &-icons{
          margin-bottom: 35px;

          *[class*="icons"]{
            display: block;
            margin: 0 auto;
          }
        }

        &-desc{
          color: $global-clr-text-light-gray;
          font-size: 18px;
          font-weight: normal;
          line-height: 1.11;
          letter-spacing: -0.54px;
          margin-top: 5px;

          > p{
            margin-bottom: 17px;

            &:last-child{margin-bottom: 0;}
          }

          a{
            color: $global-clr-text-light-gray;
            @include transition-multiple(color 0.15s ease-in-out);
          }

        }
      }
    }

    &-btn{
      display: flex;
      justify-content: center;
      padding: 50px 0 0;
      position: relative;
    }
  }
}