
.footer{
  background-color: $global-grdint-darkblue02;

  &-topx{
    padding-top: 50px;

    @include ReSassMaxWidthResponsive(1366){
      padding-top: 35px;
    }
  }

  &-contact{
    padding: 35px 0 45px;
    @include flex-flexbox();
    @include flex-justify-content(center);

    @include ReSassMaxWidthResponsive(1366){
      padding: 25px 0 30px;
    }

    &-list{
      @include flex-flexbox();
      @include flex-justify-content(center);

      &-item{
        color: $global-clr-text-light-gray;
        margin: 0 50px;
        font-size: 17px;
        font-weight: normal;
        line-height: 1.18;
        letter-spacing: -0.43px;
        text-align: center;

        @include ReSassMaxWidthResponsive(1366){
          font-size: 16px;
        }

        &:hover{
          i[class*="icons"]{
            background-position-y: 0;
          }

          p,a{
            color: $global-clr-white;
          }
        }

        i[class*="icons"]{
          display: block;
          margin: 0 auto 10px;
        }

        p,a{
          color: $global-clr-text-light-gray;
          @include transition-multiple(color 0.15s ease-in-out);
        }
      }
    }
  }

  &-copyright{
    color: $global-clr-text-light-gray;
    background-color: $global-grdint-darkblue02;
    border-top: 1px solid #222B4C;
    padding: 40px 0;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: -0.43px;
    text-align: center;

    @include ReSassMaxWidthResponsive(1366){
      padding: 30px 0;
      font-size: 16px;
    }
  }

}