.header{
  color: $global-clr-white;
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 3;
  $headerclassname: &;

  &.navscroll{
    background-color: transparentize($global-sitebg-darkblack01, 0.02);

    #{$headerclassname}-web{margin-top: 10px;}
    #{$headerclassname}-navigation{}

    .dfn-menu-list-logo>a::after,
    .dfn-menu-list-logo>a::before{height: calc(100% - 5px);}
    .dfn-menu-list-logo>a>img{@include scale(0.8);}
  }

  &-web{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    @include transition-multiple(top 0.3s ease-in-out, margin 0.3s ease-in-out);

  }

  &-navigation{
    display: flex;
    justify-content: center;
    height: 52px;
    border-top: 2px solid $global-clr-red;
  }
}