.header{
  color: $global-clr-white;
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 3;
  $headerclassname: &;

  &.navscroll{
    background-color: transparentize($global-sitebg-darkblack01, 0.05);

    #{$headerclassname}-web{margin-top: 15px;}
    #{$headerclassname}-navigation{height: 46px;}

    .dfn-menu{

      &-list{
        &-item{
          height: 38px!important;
          > a{
            padding: 6px 0;
            margin-left: 12px;
            margin-right: 12px;
          }
        }

        &-logo{
          > a{
            width: 150px;
            height: 32px;
            padding-top: 4px;
            overflow: hidden;
            &::before,
            &::after{
              height: calc(100% - 0px);
            }
          }
        }
      }

      &-dropdownmenu{
        top: 38px!important;
        &.show{
          left: 12px!important;
        }
      }

    }
  }

  &-web{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    @include transition-multiple(top 0.3s ease-in-out, margin 0.3s ease-in-out);

  }

  &-navigation{
    height: 52px;
    border-top: 2px solid $global-clr-red;
    @include flex-flexbox();
    @include flex-justify-content(center);
    @include transition-multiple(height 0.3s ease-in-out);
  }
}