.header{
  background-color: $global-sitebg-darkblack01;
  padding-top: 40px;
  min-height: 500px;

  &-web{
    padding-left: 0;
    padding-right: 0;
    border-top: 2px solid $global-clr-red;
  }

  &-navigation{
    display: flex;
    justify-content: center;
  }
}